
body{
     display: flex;
    flex-direction: column;
    align-items: center;
    width: 1800px;
}
header {
    background-image:url(B13-A01-Knowledge-Vault/assets/hero-bg.png);
    width: 1800px;


}
.logonavbar{
    width: 120px;
    height: 60px;
    padding: 16px 120px 16px 120px;
    
}
.nav-kv {
    background-color: #fff;  
    display: flex;
    align-items: center;
    justify-content:space-between;
    width: 1800px;
    height: 92px ;


}
header nav ul li {
   display: inline;
    list-style: none;
  margin-right: 40px;


}
.getearlyaccess {
    width: 132px;
    height: 19px;
    margin-left:120px ;
    font-weight: 80%;
    font-display: auto;
    background: #0b74de;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
header section{
    display: flex;
    flex-direction: column;
    
    justify-content: flex-start;
    align-items: flex-start;
}

.earlyaccess {
   display: flex;
    justify-content: center;
    align-items: center;
    width: 235px;
    height: 35px;
    margin: 20px auto 20px auto;
    font-weight: bolder;
    background: white;
    color: #7e09ec;
    border: none;
    border-radius: 10px;
    cursor: pointer;

}
header section h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height:auto;
    margin:20px auto 20px auto;
    font-size: 100px;
    color: #f7f6f8;
}
header section h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height:auto;
    margin: 20px auto 20px auto;
    font-weight: bolder;
    color: #08ec4c;
    font-size: 100px;
}
header section p{
   
    color: #171817;
    font-size: 30px;
    text-align: center;

}
.start{
   
    width: 235px;
    height: 35px;
    margin: 20px auto 20px auto;
    font-weight: bolder;
    background: rgb(7, 223, 90);
    color: #ede9f0;
    border: none;
    border-radius: 5px;
    cursor: pointer

}
.see
{
   
    width: 235px;
    height: 35px;
    margin: 20px auto 20px auto;
    font-weight: bolder;
    background: rgba(255, 255, 255, 0);
    color: #f2f0f5;
    border: solid;
    border-radius: 5px;
    cursor: pointer
}
.button-g-1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto 20px auto;
}
.cart {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.name  {
    display:flex;
    justify-content: center;

}
.name div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    margin: 0;
}

.ready{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #9cf1b6;

}
.ready h2 {
    font-size: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.ready p {
    font-size: 40px;
}
.ready button{
    width: 200px;
    height:50px;
    margin-left:120px ;
    font-weight: 80%;
    font-size: large;
    background: #05e25a;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
footer {
    background-color: rgb(133, 114, 241);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px; 
    margin-bottom: 20px;
}

footer img {
    width: 150px;
    height: 60px;
    margin-right: auto;
}
.sociallink {
    display: flex;
    align-items:center ;


}

.sociallink a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #fcf2f2;

}

.sociallink a img {
    width: 20px;
    height: 20px;
}

footer h2 {
   text-align: center;
   color: white;
}